@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600&display=swap');

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--wck-delay) ease;
}

#brand {
  font-size: 5em;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  transition: color var(--wck-delay) ease;
}